<style>
// Header
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
header {
  background-image: url("images/voguemerry.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
header h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 5rem;
}
.logo h4 {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.64rem;
}

// Nav
nav h3 a {
  font-size: 1.164rem;
}

// Contenu
.container {
  max-width: 64rem; //
}
h3 {
  margin-bottom: 1rem;
}

// Articles Blog
article {
  margin-bottom: 4rem;
}
article img {
  margin-bottom: 2rem;
}

// Youtube
.youtube {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Cartographie
.cartographie {
  position: relative;
  margin-top: 64px;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.cartographie iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Mailchimp

#mc_embed_signup {
  background:#fff;
  clear:left;
  font-size: 1.25rem;
  font-family: "Rubik","Poppins","Hel­vetica",Arial,sans-serif;
}
</style>
